<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      President Message
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="header-text">Welcome</div> 
<ion-item lines="none">
    <ion-img src="../../assets/imgs/president.png"></ion-img>
</ion-item>
<ion-content>

  <ion-item>
    <div class="president-text">
        Welcome the The Links, Incorporated Mobile App.  
        The Links, Incorporated is an international, not-for-profit corporation, established in 1946. The membership consists of over 15,000 professional women of color in 288 chapters located in 42 states, the District of Columbia, the Commonwealth of the Bahamas and the United Kingdom. It is one of the nation’s oldest and largest volunteer service organizations of extraordinary women who are committed to enriching, sustaining and ensuring the culture and economic survival of African Americans and other persons of African ancestry<br/>
        The outstanding programming of The Links, Incorporated has five facets which include Services to Youth, The Arts, National Trends and Services, International Trends and Services and Health and Human Services. The programs are implemented through strategies such as public information and education, economic development, and public policy campaigns.<br/>
        Please feel free to browse around and visit our website at&nbsp;<a (click)="gotoWebpage();">www.linksinc.org</a><br/>
        <img src="../../assets/imgs/president-sign.png" style="width:60%; height:40px;"/> <br/>Kimberly Jeffries Leonard, PhD<br/>
        National President
        
        
    </div>
  </ion-item>
</ion-content>
