<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
          International Trends & Services
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-item>
    <img src="../../assets/imgs/facet-4.png" >       
  </ion-item>
  <ion-item>
    <ion-text class="description">
        The mission of the International Trends and Services facet is to expand the global platform for programs designed and developed to service the educational, health and cultural needs of people of African descent throughout the world. All programmatic components of the facet are delivered through measurable and sustainable service delivery methods that reach women and their families.<br/>
        The foremost goal of the International Trends and Services facet is to provide opportunities for tangible service in other countries. Our “boots on the ground” approach provides for more personalized methods for assisting and improving the lives of women, children and men worldwide through long-term programs committed to empowerment and public policy leadership in advocating for social justice
                        
    </ion-text>
  </ion-item>
</ion-content>