<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
          The Arts
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-item>
    <img src="../../assets/imgs/facet-2.png" >       
  </ion-item>
  <ion-item>
    <ion-text class="description">
        <p style="font-style:italic; margin-block-start: 0em; margin-block-end: 0em;"><strong>Linking Art Through Transformative Programming</strong></p>
        The Links support of the arts can be traced to our cultured co-founder Margaret Roselle Hawkins. Her innate artistic talent, discovered at a young age, earned her a four-year scholarship to the Women’s School of Design, later known as the Moore Institute of Art. Her passion for creative expression later led to her appointment as an art teacher and helped give root to the establishment of The Arts facet in 1964 at the 14th National Assembly.<br/>
        Throughout the nation today, Links chapters partner with museums, symphonies, arts councils, educational institutes and corporations in order to support art programs, especially where there is a focus on artists of color. Links are creating and supporting opportunities for educating minority youth in the arts and presenting and supporting performances by youth and accomplished professional artists in a diversity of disciplines.<br/>
        The <strong>GOAL</strong> of The Arts Facet is to produce and support programs to enrich the quality of life of our youth and communities through educational and engaging art experiences while <strong>Transforming Communities, Fulfilling Our Purpose.</strong> Our programming includes arts integration within our chapters and partnerships with like-minded organizations, sowing the seed of creativity deeper in our community. The following are the programmatic interests for The Arts.
        
    </ion-text>
  </ion-item>
</ion-content>
