<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
        <ion-img src="../../assets/imgs/contact.png"></ion-img>
    </ion-item>
    <ion-item>
      <ion-text>
        The Links, Incorporated and The Links Foundation, Incorporated<br/>
        1200 Massachusetts Avenue, NW, Washington, DC 20005<br/>
        (202) 842-8686 Main | (202) 842-4020 Fax<br/>
        Email: <a href="mailto:info@linksinc.org">info@linksinc.org</a>
      </ion-text>
    </ion-item>
  </ion-list>
  <div style="padding:10% 10% 10% 10%; ">
    <ion-button expand="block" size="large" color="success" (click)="gotoStaffDirectory();">STAFF DIRECTORY</ion-button>
  </div>
</ion-content>
