<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        FACETS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
      <img src="../../assets/imgs/facets_home.jpg" class="img-circle" >
  </ion-item>

      <div style="margin-top: 20px;"><ion-button expand="block" color="success"  (click)="gotoDetail('facet');" style="height: 50px;">Services to Youth</ion-button></div>
      <div style="margin-top: 10px;"><ion-button expand="block" color="success" (click)="gotoDetail('facet1');" style="height: 50px;">The Arts</ion-button></div>
      <div style="margin-top: 10px;"><ion-button expand="block" color="success" (click)="gotoDetail('facet2');" style="height: 50px;">National Trends & Services</ion-button></div>
      <div style="margin-top: 10px;"><ion-button expand="block" color="success"  (click)="gotoDetail('facet3');" style="height: 50px;">International Trends & Services</ion-button></div>
      <div style="margin-top: 10px;"><ion-button expand="block" color="success" (click)="gotoDetail('facet4');" style="height: 50px;">Health & Human Services</ion-button></div>


<!--  <ion-grid>
    <ion-row>
      <ion-item (click)="gotoDetail('facet');">
        <ion-col>
          <img src="../../assets/imgs/facet-1.png" class="img-circle" >
        </ion-col>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item (click)="gotoDetail('facet1');">
        <ion-col>
          <img src="../../assets/imgs/facet-2.png" class="img-circle" >
        </ion-col>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item (click)="gotoDetail('facet2');">
        <ion-col>
          <img src="../../assets/imgs/facet-3.png" class="img-circle" >
        </ion-col>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item (click)="gotoDetail('facet3');">
        <ion-col>
          <img src="../../assets/imgs/facet-4.png" class="img-circle" >
        </ion-col>
      </ion-item>
    </ion-row>
     <ion-row>
      <ion-item (click)="gotoDetail('facet4');">
        <ion-col>
          <img src="../../assets/imgs/facet-5.png" class="img-circle" >
        </ion-col>
      </ion-item>
    </ion-row>
 
  </ion-grid>-->
</ion-content>
