ion-content{
    border: 1.5px  solid green;
}
ion-item{
    --padding-start: 0px;
    --inner-padding-end: 0px;
}
.img-circle{
    border-radius: 3%;
}
.title-text{
    font-family: Arial;
    font-size: 14pt;
    font-weight: bold;
   
}