<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        Leadership
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-item lines="none">
    <ion-img src="../../assets/imgs/leadership.png"></ion-img>
</ion-item>  

<ion-content>
  <ion-item>
    <div class="leadership-text">
  <!--      <p style="margin-block-start: 0.1em;">(left to right) Ethelyn S. Bowers, Crystal L. Kendrick, Kimberly Jeffries Leonard, Ph.D., Ethel Isaacs Williams, J.D. West, Raynetta C. Waters</p>-->
      <p class="leadership-title">National President</p>
      <p class="leadership-content">Kimberly Jeffries Leonard, Ph.D.<br/>Arlington (VA) Chapter<br/>Email: <a href="mailto:kjleonard@kmjl.com">kjleonard@kmjl.com</a></p>
      <p class="leadership-title">National Vice President</p>
      <p class="leadership-content">Ethel Isaacs Williams, J.D.<br/>West Palm Beach (FL) Chapter<br/>Email: <a href="mailto:ewilliams@kaufmanlynn.com">ewilliams@kaufmanlynn.com</a></p>
      <p class="leadership-title">National Recording Secretary</p>
      <p class="leadership-content">Crystal L. Kendrick<br/>Queen City (OH) Chapter<br/>Email: <a href="mailto:crystal@thevoiceofyourcustomer.com">crystal@thevoiceofyourcustomer.com</a></p>
      <p class="leadership-title">National Treasurer</p>
      <p class="leadership-content">Ethelyn S. Bowers<br/>Essex County (NY) Chapter<br/>Email: <a href="mailto:ethelynbowers@comcast.net">ethelynbowers@comcast.net</a></p>
      <p class="leadership-title">National Parliamentarian / Constitution & Bylaws</p>
      <p class="leadership-content">Tyna D. Davis, Ed.D.<br/>Montgomery (AL) Chapter<br/>Email: <a href="mailto:epp1aea@aol.com">epp1aea@aol.com</a></p>
      <p class="leadership-title">National Nominating Committee, Chair</p>
      <p class="leadership-content">Raynetta C. Waters<br/>Asheville (NC) Chapter<br/>Email: <a href="mailto:watersraynetta@bellsouth.net">watersraynetta@bellsouth.net </a></p>
    </div>
  </ion-item>
</ion-content>
