<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        FAQS
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <div class="faq-text">
      <div class="faq-title">CONTACT INFORMATION CHANGING?</div>
      <div class="faq-content">You can update it yourself through the members only section of our national website by logging in with you username and password. If you do not know your username and password, please contact your respective membership specialist at National Headquarters.</div>
      <div class="faq-title">IN NEED OF AN IMPORTANT MEMBERSHIP STATUS REQUEST DOCUMENT?</div>
      <div class="faq-content">You can find each of the corresponding documents and information for our various membership categories in the documents section of our national website!</div>
      <div class="faq-title">ELECTING NEW CHAPTER OFFICERS?</div>
      <div class="faq-content">Chapter presidents and membership chairs can update their chapter officers’ profile through our members only section by logging in with your username and password and selecting the chapter profile tab and then clicking ‘edit chapter profile.’ You must complete these steps in order for your chapter officer to have access to the membership management system. Please remember to click the update button so that the changes will save.</div>
      <div class="faq-title">TAKING A LEAVE OF ABSENCE?</div>
      <div class="faq-content">Chapter presidents and membership chairs must update this through our members only section logging in with  your username and password  and selecting the chapter members profile in which you wish to update. When the member returns to active status, please remember to change their status accordingly. Please note that in order to take leave for three years, you must receive approval from your area director.</div>
      <div class="faq-title">WHEN MAY A CHAPTER VOTE ON CANDIDATES BEING CONSIDERED FOR MEMBERSHIP?</div>
      <div class="faq-content">Chapters considering candidates for membership may vote in November, December or January. Remember that Daughters of Links may be voted on at any time. (See Manual of Procedures and Membership Manual)</div>
      <div class="faq-title">ARE FORMER MEMBERS OF THE LINKS, INCORPORATED WHO DESIRE TO BE REINSTATED REQUIRED TO ATTEND ORIENTATION SESSIONS?</div>
      <div class="faq-content">A former member of The Links, Incorporated who has been separated from the organization for less than two (2) years, is not required to attend orientation sessions. However, if more than two (2) years have passed, she must attend orientation sessions and participate in the induction ceremony. (See Manual of Procedures)</div>
      <div class="faq-title">WHEN MAY A MEMBER WHO FORFEITED HER MEMBERSHIP DURING THE 2012-2013 FISCAL YEAR, RETURN TO ACTIVE MEMBERSHIP?</div>
      <div class="faq-content">Former members of The Links, Incorporated who desire to apply to reinstate their membership, may return to active membership as early as May 1, 2014, and only after following all required procedures as outlined in the Manual of Procedures, as well as fulfilling any outstanding financial obligations. A former member cannot return to the organization before May 1 and no later than June 30 of any year.</div>

    </div>
  </ion-item>  
</ion-content>
