<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
          Health & Human Services
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-item>
    <img src="../../assets/imgs/facet-5.png" >       
  </ion-item>
  <ion-item>
    <ion-text class="description">
        The Links, Incorporated established the Health and Human Services facet in response to the chronic health disparities that persist in black communities and result in the decreased life expectancy of African Americans and other people of African ancestry. The goal of HHS is to promote and facilitate programs that support the maintenance of good health and the elimination of chronic health disparities in communities of color through education, health advocacy, and optimal utilization of health resources. Community education about health risks is crucial and The Links, Incorporated plays a significant role in providing it.                        
    </ion-text>
  </ion-item>
</ion-content>