ion-content{
     border: 1.5px  solid green;
   
   }
.content-text{
    font-family: 'Gabriola';
    font-size: 16pt;
    color: rgb(27, 27, 26);
    line-height: 1.5;
    padding: 5px 10px 10px 20px;
    text-align: justify;
}
.img-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    color: rgb(27, 27, 26);
    margin-block-start: 0.5em;
}