
<ion-content padding >
  <ion-grid>
    <ion-row>
      <ion-col  style="padding: 20px 20px 20px 20px;">
        <ion-img src="../../assets/imgs/logo.png" ></ion-img>       
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 50px;">
      <ion-col>
      <!--  <div class="app-title">Links APP</div>-->

      </ion-col>
    </ion-row>
  </ion-grid>
  <!--
  <ion-item lines="none">
      <div style="text-align:center; width: 100%;"><button class="button button1" (click)="gotoHome('member');" >I AM A MEMBER</button></div>
  </ion-item>
  <ion-item lines="none">
      <div style="text-align:center; width: 100%;"><button class="button button1" (click)="gotoHome('visitor');">I AM A VISITOR&nbsp;&nbsp;</button></div>
  </ion-item>
-->
</ion-content>
