<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <img src="../../assets/imgs/{{imgName}}" style="height:250px;">
    </ion-item>
    <ion-item lines="none">
      <div class="description">{{description}}</div>
    </ion-item>
    <div class="director-title">Area Director</div>
    <div class="director-content" >{{director}} <br/>Chapter:<br/>
      Email:<a href="mailto:{{email}}">{{email}}</a></div>

    <div class="director-title">Website:</div>
    <div class="director-content" ><a (click)="gotoWebsite(website);">&nbsp;{{website}}</a></div>

  </ion-list>
</ion-content>
