<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        Staff - Directory
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="staff-text">
    <div class="staff-title">EXECUTIVE OFFICE</div>
    <div class="staff-content-header">Dr. Gwendolyn Boyd (ext. 211)</div>
    <div class="staff-content">Interim Executive Director</div>
    <div style="padding-left:20px;"><a href="mailto:gwendolyn.boyd@linksinc.org">gwendolyn.boyd@linksinc.org</a></div>
    <div class="staff-content-header">Keisha Prue (ext. 213)</div>
    <div class="staff-content">Executive Assistant</div>
    <div style="padding-left:20px;"><a href="mailto:keisha.prue@linksinc.org">keisha.prue@linksinc.org</a></div>
  </div>
  <div class="staff-text">
    <div class="staff-title">COMMUNICATIONS</div>
    <div class="staff-content-header">Jennifer Hudnell (ext. 214)</div>
    <div class="staff-content">Sr. Mgr., Communications/Community Programs</div>
    <div style="padding-left:20px;"><a href="mailto:jennifer.hudnell@linksinc.org">jennifer.hudnell@linksinc.org</a></div>
  </div>
  <div class="staff-text">
    <div class="staff-title">EVENTS & CONFERENCE MANAGEMENT</div>
    <div class="staff-content-header">Linda Tate (ext. 208)</div>
    <div class="staff-content">Coordinator, Events and Conference Planning</div>
    <div style="padding-left:20px;"><a href="mailto:linda.tate@linksinc.org">linda.tate@linksinc.org</a></div>
    <div class="staff-content-header">Elle White (ext. 203)</div>
    <div class="staff-content">Coordinator, Events and Conference Planning</div>
    <div style="padding-left:20px;"><a href="mailto:elle.white@linksinc.org">elle.white@linksinc.org</a></div>
  </div>
  <div class="staff-text">
    <div class="staff-title">FINANCE / FOUNDATION</div>
    <div class="staff-content-header">Mehari Debas (ext. 210)</div>
    <div class="staff-content">Director of Finance, The Links, Inc./Foundation</div>
    <div style="padding-left:20px;"><a href="mailto:Mehari.Debas@linksinc.org">Mehari.Debas@linksinc.org</a></div>
    <div class="staff-content-header">Gary Petty (ext. 301)</div>
    <div class="staff-content">Senior Accountant/Foundation</div>
    <div style="padding-left:20px;"><a href="mailto:gary.petty@linksinc.org">gary.petty@linksinc.org</a></div>
    <div class="staff-content-header">Hagar Gyan Adu-Poku (ext. 303)</div>
    <div class="staff-content">Accounting Assistant, The Links, Inc./Foundation</div>
    <div style="padding-left:20px;"><a href="mailto:hagar.gyan@linksinc.org">hagar.gyan@linksinc.org</a></div>
    <div class="staff-content-header">Desta Hailu (ext. 202)</div>
    <div class="staff-content">Accounting Assistant, The Links, Inc./Foundation</div>
    <div style="padding-left:20px;"><a href="mailto:desta.hailu@linksinc.org">desta.hailu@linksinc.org</a></div>
    <div class="staff-content-header">LaKisha Harrison (ext. 212)</div>
    <div class="staff-content">Vendor Coordinator/Area Director Liaison</div>
    <div style="padding-left:20px;"><a href="mailto:LaKisham.Harrison@linksinc.org">LaKisham.Harrison@linksinc.org</a></div>
  </div>
  <div class="staff-text">
    <div class="staff-title">INFORMATION TECHNOLGY</div>
    <div class="staff-content-header">Sherri Brinson (ext. 302)</div>
    <div class="staff-content">IT Operations Manager</div>
    <div style="padding-left:20px;"><a href="mailto:sherri.brinson@linksinc.org">sherri.brinson@linksinc.org</a></div>
    <div class="staff-content-header">Corey Hankerson, Jr. (ext. 204)</div>
    <div class="staff-content">IT Operations Specialist</div>
    <div style="padding-left:20px;"><a href="mailto:corey.hankersonjr@linksinc.org">corey.hankersonjr@linksinc.org</a></div>
  </div>
  <div class="staff-text">
    <div class="staff-title">MEMBERSHIP</div>
    <div class="staff-content-header">Naia Wood (ext. 217)</div>
    <div class="staff-content">Manager, Membership Services</div>
    <div style="padding-left:20px;"><a href="mailto:naia.wood@linksinc.org">naia.wood@linksinc.org</a></div>
    <div class="staff-content-header">Jackie Sease (ext. 215)</div>
    <div class="staff-content">Membership Specialist</div>
    <div style="padding-left:20px;"><a href="mailto:jackie.sease@linksinc.org">jackie.sease@linksinc.org</a></div>
  </div>  
  <div class="staff-text" style="margin-bottom: 20px;">
    <div class="staff-title">PROGRAMS</div>
    <div class="staff-content-header">Aaron Brinson (ext. 218)</div>
    <div class="staff-content">Programs Specialist</div>
    <div style="padding-left:20px;"><a href="mailto:aaron.brinson@linksinc.org">aaron.brinson@linksinc.org</a></div>
  </div>   
</ion-content>
