<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        FAQS
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <div class="faq-text">
      <div class="faq-title">Can I join The Links?</div>
      <div class="faq-content">Membership to The Links, Incorporated are by invitation only.  Please contact the Membership Department at The Links Headquarters by calling 202-842-8686 or by emailing <a href="mailto:membership@linksinc.org">membership@linksinc.org</a></div>
      <div class="faq-title">How do I find out more information about The Links?</div>
      <div class="faq-content">Please visit our website at <a (click)="gotoWebsite('www.linksinc.org');">www.linksinc.org</a> </div>
      <div class="faq-title">If my membership to The Links is currently inactive but I wish to return to Action, what do I need to do?  </div>
      <div class="faq-content">Please contact the Membership Department at The Links Headquarters by calling 202-842-8686 or by emailing <a href="mailto:membership@linksinc.org">membership@linksinc.org</a></div>
      <div class="faq-title">What Chapters are near me?</div>
      <div class="faq-content">You can view all the chapters that are near you based on your zip code and radius by visiting <a (click)="gotoWebsite('http://mobileapp.linksincdb.org/locator/locator.php');">http://mobileapp.linksincdb.org/locator/locator.php</a></div>
      <div class="faq-title">I would like the National President to speak at my function.  How do I make that request?</div>
      <div class="faq-content">You can make a request for the National President at <a (click)="gotoWebsite('http://www.linksinc.org/national-president-request');">http://www.linksinc.org/national-president-request</a>.  You will be contacted as soon as possible with availability and other information.</div>
      <div class="faq-title">Where are your headquarters located?</div>
      <div class="faq-content">The Links, Incorporated headquarters is located at 1200 Massachusetts Ave. NW, Washington, DC 20005</div>
    </div>
  </ion-item>  
</ion-content>
