<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
          National Trends & Services
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-item>
    <img src="../../assets/imgs/facet-3.png" >       
  </ion-item>
  <ion-item>
    <ion-text class="description">
        “Empowering People; Transforming Lives!”
        The <strong>VISION</strong> of the National Trends and Services facet is to eliminate disparities by reducing barriers to services through advocacy, education, and service. <strong>Our MISSION</strong> is to empower our chapters to effectively empower the communities in which we work. Our <strong>GOALS</strong> include increasing the number of sustainable and measurable programs; increasing collaborative partnerships; and extending our existing initiatives to include communities identified as having the greatest need.
        Currently, National Trends and Services encompasses the following programs and committees with national partners and sponsors, each committed to the overall vision and mission of the facet. These programs serve as a catalyst for change promoting individual and community empowerment.
                
    </ion-text>
  </ion-item>
</ion-content>